<!DOCTYPE html>
<html lang="en" th:replace= "~{base::parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
    <title>Service </title>
</head>
<body>

<section id="content">
<h1> Wekcome to Services page. </h1>
<h2>Services offered by SCM</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Sed cum libero est in itaque deleniti unde velit illo modi aperiam nemo, magni debitis earum possimus!</p>
</section>

<script>
    console.log("Services page script");
</script>
</body>
</html>